include ../mixins/_mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		//- favicon block start
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		//- favicon block end			
		link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")

	body
		block content
		block script
		// loadCss
		link(rel="stylesheet" href="css/all.css")
		link(rel="stylesheet" href="css/style.css")

		// loadScript
		script(src="js/all.js")
		script(src="js/common.js")